spring:
  r2dbc:
    url: r2dbc:mysql://localhost:13306/jukebox_db
    username: user
    password: password

  sql:
    init:
      mode: always
      schema-locations: classpath:sql/schema.sql

logging:
  level:
    org.springframework.data.r2dbc: DEBUG
