spring:
  r2dbc:
    url: r2dbc:mysql://localhost:13306/jukebox_db
    username: user
    password: password
    pool:
      max-size: 70

  sql:
    init:
      mode: always
      schema-locations: classpath:sql/schema.sql

jukebox:
  dataset:
    enabled: true
    location: ../data/spotify_dataset.json

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
  api-docs:
    path: /v3/api-docs

logging:
  level:
    org.springframework.data.r2dbc: DEBUG
