spring:
  r2dbc:
    url: r2dbc:mysql://localhost:13306/jukebox_db
    username: user
    password: password
    pool:
      max-size: 70

  sql:
    init:
      mode: never
      schema-locations: classpath:sql/schema.sql

jukebox:
  dataset:
    enabled: false
    location: ../data/spotify_dataset.json
  like:
    strategy: memory
    write-buffer:
      cron: "0 0/5 * * * *"


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
  api-docs:
    path: /v3/api-docs

logging:
  level:
    com.seonghyeon.jukebox: DEBUG
    org.springframework.data.r2dbc: DEBUG
